@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes brand-loader {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(220%);
  }
}
